.container{
    height: 27vh;
    width:100%;    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.part{
    
    height: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 35px;
    color:antiquewhite;
    width:15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 60%;
    transition: ease-in 0.4s;
}

.part:hover{
    color: rgb(4, 31, 31);
    font-size: 38px;
    font-weight:bolder;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    font-family: 'Times New Roman', Times, serif;
}


